.content {
    position: relative;
    background-image: url("../../assets/img/pr3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    
     /* Adjust the opacity as needed */

}
